    <div class="flex justify-center font-bold text-6xl">Get your next</div>
    <div class="flex justify-center font-semibold text-6xl text-green-900">
      any fucking idea
    </div>
    <div class="flex justify-center space-x-2 py-12">
        <span class="w-2 h-2 bg-gray-500 rounded-full"></span>
        <span class="w-2 h-2 bg-green-900 rounded-full"></span>
        <span class="w-2 h-2 bg-gray-500 rounded-full"></span>
        <span class="w-2 h-2 bg-gray-500 rounded-full"></span>
    </div>
  </div>

  <div class="grid grid-cols-7 gap-4">
    <div class="flex flex-col space-y-4 transform -translate-y-24">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=22" alt="home decor idea">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=23" alt="home decor idea">
        
    </div>
    <div class="flex flex-col space-y-4 transform -translate-y">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=25" alt="home decor idea">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=26" alt="home decor idea">
        
    </div>
    <div class="flex flex-col space-y-4 transform translate-y-24">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=28" alt="home decor idea">
        <img  class="rounded-xl h-72" src="https://picsum.photos/400/800?random=223" alt="home decor idea">
        </div>
    <div class="flex flex-col space-y-4 transform translate-y-48">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=228" alt="home decor idea">
        <img  class="rounded-xl h-48" src="https://picsum.photos/400/800?random=230" alt="home decor idea">
        </div>
    <div class="flex flex-col space-y-4 transform translate-y-24">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=444" alt="home decor idea">
        <img  class="rounded-xl h-72" src="https://picsum.photos/400/800?random=356" alt="home decor idea">
        </div>
    <div class="flex flex-col space-y-4 transform -translate-y">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=666" alt="home decor idea">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=66" alt="home decor idea">
        </div>
    <div class="flex flex-col space-y-4 transform -translate-y-24">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=22" alt="home decor idea">
        <img  class="rounded-xl h-96" src="https://picsum.photos/400/800?random=23" alt="home decor idea">
        </div>
    

  </div>

  <div class="flex justify-center inset-x-0 bottom-2 font-bold">
    <div class="bg-green-800 h-10 w-10 rounded-full flex justify-center items-center shadow-sm animate-bounce">
        <svg fill="none" viewBox="0 0 24 24" stroke="white">
         <path strokelinecap="round" strokelinejoin="round" strokewidth="2" d="m19 9l-7 7-7-7"></path>   
        </svg>
    </div>
  </div>
</div>
<div class="flex h-16 bg-yellow-300 justify-center">
  <div class="p-4 flex text-xl font-semibold">Here's how it works</div>
</div>
</div>
<div>
  
  <div class="flex bg-yellow-200">
    
    <div>
     <img class="drop-shadow-2xl rounded-3xl translate-x-96 translate-y-12" src="https://picsum.photos/178/218?random=22" alt="">
     <img class="drop-shadow-2xl rounded-3xl translate-x-12" src="https://picsum.photos/204/285?random=22" alt="">
     <img class="drop-shadow-2xl rounded-3xl translate-x-96 -translate-y-12" src="https://picsum.photos/164/258?random=22" alt="">
    </div>
    <div>
      <img class="drop-shadow-2xl rounded-3xl translate-y-32" src="https://picsum.photos/298/456?random=22" alt="">
    </div>  
    <button class="flex justify-center drop-shadow-2xl text-rose-700 font-bold text-3xl bg-teal-100 items-center rounded-full m-auto ml-32 h-24 w-96 -translate-x-96">

      <svg class="gUZ R19 U9O kVc"fill="black" height="34" width="34" viewBox="0 0 24 24" aria-label="search" role="img"><path d="M10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6m13.12 2.88-4.26-4.26A9.842 9.842 0 0 0 20 10c0-5.52-4.48-10-10-10S0 4.48 0 10s4.48 10 10 10c1.67 0 3.24-.41 4.62-1.14l4.26 4.26a3 3 0 0 0 4.24 0 3 3 0 0 0 0-4.24"></path></svg>

      easy chicken dinner
      
    </button>
    <ul class="mr-32 mt-16 mb-48">
      <li>
        <div class="flex justify-center items-center font-bold text-5xl m-auto mt-48 text-rose-700">Search for an idea</div>
      </li>
      <li>
        <div class="flex mt-4 ml-12  text-rose-500 justify-center items-center w-64">
          what do you want to try next? Think
           of something you're into--like "easy chicken dinner"--and see what you find.
      </div>
    </li>
      <li>
        <div>
        <button class="flex justify-center text-white font-bold text-xs bg-rose-600 hover:bg-rose-400 items-center rounded-full mt-2 m-auto ml-32 h-8 w-14">Explore</button>
    </div>
  </li>
    </ul>      
  </div>
</div>
<div class="flex bg-teal-100">
  <ul class="mr-32 mt-16 mb-80">
    <li>
      <div class="flex justify-center items-center font-bold text-5xl ml-36 m-auto mt-48 text-emerald-800">Save ideas you like</div>
    </li>
    <li>
      <div class="flex mt-4 ml-60  text-emerald-800 justify-center items-center w-64">
      Collect your favorites so you can get back to them later.  
      </div>
  </li>
    <li>
      <div>
      <button class="flex justify-center text-white font-bold text-xs bg-emerald-800 hover:bg-emerald-400 items-center rounded-full m-auto ml-32 mt-4 ml-80 h-8 w-14">Explore</button>
  </div>
</li>
  </ul>
  <div class="translate-y-4">
    <img class="drop-shadow-2xl rounded-3xl translate-y-2" src="https://picsum.photos/400/420?random=23" alt="">
    <img class="drop-shadow-2xl rounded-3xl translate-x-28 translate-y-6" src="https://picsum.photos/225/235?random=234" alt="">
  </div>
  <div class="translate-y-4">
    <img class="drop-shadow-2xl rounded-3xl translate-x-7 translate-y-2" src="https://picsum.photos/225/235?random=223" alt="">
    <img class="drop-shadow-2xl rounded-3xl translate-x-9 translate-y-6" src="https://picsum.photos/165/173?random=263" alt="">
    <img class="drop-shadow-2xl rounded-3xl translate-x-4 translate-y-12" src="https://picsum.photos/225/235?random=236" alt="">
  
  </div>
</div>
<div class="flex bg-pink-100 p-0">
  <div>
    <img class="static" src="https://picsum.photos/1000/950/?random=223" alt="">
    
    
    <div class="absolute -translate-y-48">
      
      <img class="blur-xs drop-shadow-2xl rounded-2xl w-60 h-72 translate-x-40 -translate-y-72 " src="/img/photo_2022-09-17_01-43-00.jpg" 1alt="">
    
      <img class="drop-shadow-2xl rounded-full h-24 translate-x-32 -translate-y-80" src="/img/photo_2021-03-03_01-15-42.jpg" alt="">
      <div class="text-white translate-x-60 -translate-y-96">
        <div class="font-bold">Amir Arezoo</div>
      <div class="text-xs">96.7k followers</div>
    </div>
      </div>
  
</div>
  <ul class="mr-32 mt-16">
    <li>
      <div class="flex justify-center items-center font-bold text-5xl w-96 ml-48 mt-48 text-rose-700">See it, make it, try it, do it</div>
    </li>
    <li>
      <div class="flex mt-4 ml-56  text-rose-500 justify-center items-center w-64">
      The best part of Pinterest is discovering new things and ideas from people around the world.
      </div>
  </li>
    <li>
      <div>
      <button class="flex justify-center text-white font-bold text-xs bg-rose-600 hover:bg-rose-300 items-center rounded-full mt-2 m-auto ml-72 h-8 w-14">Explore</button>
  </div>
</li>
  </ul>      

</div>