    <div class="m-4 justify-center items-center h-9 bg-white">
      <span>Term of service</span>
      <span>Privacy Policy</span>
      <span>Help</span>
      <span>Iphone App</span>
      <span>Android App</span>
      <span>Users</span>
      <span>Collections</span>
      <span>Today</span>
      <span>Explore</span>
    </div> 