    <ul class="mr-32 mt-16">
      <li>
        <div class="flex justify-center items-center font-bold text-5xl w-60 ml-60 mt-52 text-gray-200">Sign up to get your ideas</div>
      </li>
    </ul>
    <div class="translate-x-80 bg-gray-200 drop-shadow-2xl rounded-2xl p-9 m-6">
      <div class="">
        <div class="translate-x-28 m-6">
          <svg
        class="gUZ GjR U9O kVc"
        height="32"
        width="32"
        viewBox="0 0 24 24"
        aria-label="Pinterest"
        role="img"
        fill="red"
      >
        <path
          d="M0 12c0 5.123 3.211 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.401-5.938 1.401-5.938s-.357-.715-.357-1.774c0-1.66.962-2.9 2.161-2.9 1.02 0 1.512.765 1.512 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.239 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.378-.293 1.189-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.769 2.737-7.229 7.892-7.229 4.144 0 7.365 2.953 7.365 6.899 0 4.117-2.595 7.431-6.199 7.431-1.211 0-2.348-.63-2.738-1.373 0 0-.599 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12"
        ></path>
      </svg>
        </div>
        <h2 class="text-3xl mb-4 ">Welcome to Pinterest</h2>
        <p class="mb-4 items-center ml-16">Find new ideas to try</p>
        <form action="">
          <div class="ml-12 pt-2">
            <p class="font-semibold">Email</p>
            <input type="text" placeholder="Email" class="border rounded-2xl p-1 w-48">
          </div>
          <p class="ml-12 font-semibold">Password</p>
          <div class="ml-12 pt-2">
            <input type="text" placeholder="Create a password" class="border rounded-2xl p-1 w-48">
          </div>
          <p class="ml-12 font-semibold">Age</p>
          <div class="ml-12 pt-2">
            <input type="text" placeholder="Age" class="border rounded-2xl p-1 w-48">
          </div>
    </div>  
      <div>
        <button class="flex ml-8 justify-center items-center translate-y-3 font-bold h-9 text-white w-60 bg-red-700 hover:bg-red-300 rounded-2xl">Continue</button>
        <p class="ml-36 pt-6">OR</p>
        <button class="flex ml-8 justify-center items-center translate-y-3 font-bold h-9 text-white w-60 bg-blue-600 hover:bg-blue-300 rounded-2xl">
          <div class="-translate-x-3"> <svg class="gUZ Bp9" height="19" fill="blue" width="19" viewBox="0 0 24 24" aria-label="facebook" role="img"><path d="m17.75 3.984-2.312.001c-1.811 0-2.163.842-2.163 2.077v2.724h4.323l-.563 4.267h-3.76V24H8.769V13.053H5V8.786h3.769V5.64C8.769 1.988 11.05 0 14.383 0c1.596 0 2.967.116 3.367.168v3.816z"></path></svg>
          </div>
          Continue with Facebook</button>
        <p class="text-xs w-72 ml-5 mt-7 mb-2">By continuing you agree to Pinterest's Terms of service and acknowledge you've read our privacy policy</p>
      
      </div>  
      </form>
      
    </div>
            
            </div>