<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Pinterest</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full mx-auto my-2">
      <%- include('./components/header.ejs')%>
      <div class="flex flex-col justify-center pt-8 mt-12">
        <%- include('./components/container.ejs')%>
    <div class="flex bg-gray-500">
      <%- include('./components/logIn.ejs')%>
              <div class="flex justify-center items-center ml-24">
                <%- include('./components/footer.ejs')%> 
</body>
</html>

  
